# Database Configuration
DB_USER=postgres
DB_PASSWORD=4410
DB_HOST=localhost
DB_PORT=5432
DB_NAME=test_db

# Или используйте полный DATABASE_URL
# DATABASE_URL=postgresql+psycopg2://postgres:4410@localhost:5432/test_db
